// Body
$body-bg: #F7FAFC;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$enable-responsive-font-sizes: true !default;

// Colors
$blue: #3182CE;
$indigo: #667EEA;
$purple: #B794F4;
$pink: #F687B3;
$red: #E53E3E;
$orange: #F6AD55;
$yellow: #ECC94B;
$green: #68D391;
$teal: #4FD1C5;
$cyan: #6cb2eb;
