/*noinspection CssInvalidAtRule*/

@import "tailwindcss/base";
@import "tailwindcss/components";


@import "./reset";

/* Components */
@import "./buttons";
@import "./form";
@import "./nprogress";

@import "tailwindcss/utilities";
/*noinspection CssInvalidAtRule*/
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
/*

.card-columns {
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(sm) {
        column-count: 1;

    }
}

.btn-size {
    @include media-breakpoint-only(xs) {
        width: 100%;
    }
}

.custom-control-input:focus~.custom-control-label::before
{
    box-shadow:none;
}
*/
/*html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 65px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}*/

